.promoteImg-box {
  background-color: var(--bg-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 2rem;
  position: relative;
}
.promoteImg-box img {
  max-width: 36.1rem;
  margin-bottom: 2rem;
}
.stroke {
  position: absolute;
  right: 0;
  bottom: 2%;
  width: 20rem;

  content: url('../../assets/curvedS.png');
}
.promote-subheading {
  font-family: 'Clash Display';
  font-weight: 600;
  font-size: 2.1rem;
  margin-bottom: 2rem;
}
.promote-summary {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

@media (max-width: 768px) {
  .stroke {
    width: 18rem;
  }
}
@media (max-width: 589px) {
  .stroke {
    width: 17rem;
    right: -8%;
    bottom: 6%;
  }
}
