.cta {
  background-color: var(--bg-green);
  border-radius: 2rem;
  padding: 8rem;
  position: relative;
  margin-bottom: 9.4rem;
  background-image: url('../../assets/Mask.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top bottom;
}

/* QUERIES */
@media (max-width: 589px) {
  .cta {
    padding: 4rem 0;
    background-image: url('../../assets/Mask@.png');
  }
}
