.check-conc {
  display: flex;
  align-items: center;
  padding: 1.2rem 3.3rem;
  width: 25rem;
  margin: 0 auto;

  justify-content: center;
  margin-bottom: 2rem;
  gap: 2rem;
  border-radius: 0.3rem;
  transition: all 0.2s;
  cursor: pointer;
}
.month,
.year {
  font-size: 1.6rem;
  font-weight: 600;
}
.active {
  background-color: var(--bg-green);
  padding: 1rem 3.3rem;
  border-radius: 0.3rem;
}
