.section-hero {
  position: relative;
  padding: 0 0 13.6rem 0;
  background-color: #f1dfd5;
}
.section-features {
  padding: 10rem 0 10rem 0;
}
.section-social {
  padding-bottom: 10rem;
}
.section-numbers {
  background-color: var(--bg-grey);
  padding: 5rem 0;
}

.section-cards,
.section-promote,
.section-testimonials,
.section-footer {
  padding: 10rem 0;
}
.section-footer {
  padding-bottom: 4rem;
}
.section-testimonials {
  background-color: #f1dfd5;
  position: relative;
}
.section-testimonials::after {
  content: url('./assets/greenStar.png');
  position: absolute;
  bottom: 0;
  left: 28%;
}
.section-testimonials::before {
  content: url('./assets/blackShape.png');
  top: 0%;
  position: absolute;
  right: 20%;
}
/* QUERIES */
@media (max-width: 768px) {
  .section-cards,
  .section-promote,
  .section-testimonials,
  .section-features,
  .section-footer {
    padding: 4rem 0;
  }
  .section-testimonials::before {
    content: url('./assets/blackShape2.png');
    top: -0.5%;
    left: -2%;
  }
  .section-social {
    padding-bottom: 4rem;
  }
}

@media (max-width: 589px) {
  .section-hero {
    padding-bottom: 5rem;
  }
}
