.Numbers {
  display: flex;
  overflow: hidden;
  width: calc(300px * 8);
  animation: scroll 10s linear infinite;
}

.Number {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.Number-dur {
  font-weight: 400;
  font-size: 1.8rem;
  opacity: 0.6;
}
.Number-head {
  font-family: 'Clash Display';
  font-weight: 500;
  font-size: 7.2rem;
}
@keyframes scroll {
  100% {
    transform: translateX(calc(-300px * 4));
  }
}
@media (max-width: 1056px) {
  .Numbers {
    gap: 1rem;
  }
  .Number-head {
    font-size: 7rem;
  }
}
@media (max-width: 768px) {
  br {
    display: none;
  }
  .Numbers {
    width: calc(200px * 8);
  }
  .Number {
    width: 200px;
  }
  .Number-head {
    font-size: 4.8rem;
  }
  @keyframes scroll {
    100% {
      transform: translateX(calc(-200px * 4));
    }
  }
}
